@use './base/reset';
@use './utils/variables';
@use './base/base';
@use "./components/header";
@use "./components/hero";
@use "./components/logo";
@use "./components/order";
@use "./components/fruits";
@use "./components/covered";
@use "./components/footer";