$main-family: 'DM Sans', sans-serif;
$main-color: #FFFFFF;
$bg-color: #AE1332;
// Makar colors
$header-bg-color: #FFF;
$secondary-color: #AE1332;
$first-step-color: #AE1332;
$second-step-color: #A4CB66;
$third-step-color: #F5CE13;
