@use "../utils/variables" as *;

.order {
    padding-bottom: 150px;

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        text-transform: uppercase;

    }

    &__desc {
        padding-top: 14px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        padding-bottom: 44px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 24px;
        padding-bottom: 80px;
    }

    &__item {
        display: flex;
        padding: 20px 40px;
        background-color: $order-item-bg;
        gap: 14px;
        border-radius: 20px;
        width: 389px;

        @media (max-width: 1280px) {
            flex-basis: calc((100% - 24px * 2) / 3);
        }

        @media (max-width: 768px) {
            flex-basis: calc((100% - 24px * 2) / 1);
        }

        @media (max-width: 480px) {
            flex-basis: calc((100% - 24px * 2) / 1);
        }
    }

    &__button {
        border-radius: 200px;
        padding-block: 12px;
        white-space: nowrap;
        border: none;
        font-size: 18px;
        color: inherit;
        font-family: $main-family;
        height: 100%;
        cursor: pointer;

        &--first {
            background-color: $first-step-color;
            padding-inline: 32px;
        }

        &--second {
            background-color: $second-step-color;
            padding-inline: 18px;
        }

        &--third {
            background-color: $third-step-color;
            padding-inline: 28px;
        }
    }

    &__text {
        color: $order-text-color;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 18px;

    }

    &__img {
        @media (max-width: 1280px) {
            width: 860px;
        }

        @media (max-width: 768px) {
            width: 704px;
        }
        @media (max-width: 335px) {
            width: 335px;
        }
    }
}